[Unit]
Description=Xenstored - daemon managing xenstore file system
Requires=proc-xen.mount var-lib-xenstored.mount
After=proc-xen.mount var-lib-xenstored.mount
Before=libvirtd.service libvirt-guests.service xendomains.service xend.service
RefuseManualStop=true
ConditionPathExists=/proc/xen

[Service]
Type=forking
Environment=XENSTORED_ARGS=
Environment=XENSTORED_ROOTDIR=/var/lib/xenstored
EnvironmentFile=-/etc/sysconfig/xenstored
PIDFile=/var/run/xenstored.pid
ExecStartPre=/bin/grep -q control_d /proc/xen/capabilities
ExecStartPre=-/bin/rm -f "$XENSTORED_ROOTDIR"/tdb*
ExecStart=/usr/sbin/xenstored --pid-file /var/run/xenstored.pid $XENSTORED_ARGS
ExecStartPost=/usr/bin/xenstore-write "/local/domain/0/name" "Domain-0"

[Install]
WantedBy=multi-user.target
